<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layouts :: header}">
    <!--<link rel="stylesheet" type="text/css" href="login.css">-->
    <title>Teacher Login</title>
</head>

<body>
<nav th:replace="~{layouts :: navbar}"></nav>

<div class="container" style="width: 400px" >
    <form action="/teachers/authenticate" method="POST" th:object="${teacher}">
        <h1 class="h3 mb-3 font-weight-normal">Teacher Login!</h1>
        <label for="id" class="sr-only">ID:</label>
        <input type="text" id="id" class="form-control" placeholder="ID" required autofocus th:field="${teacher.id}">
        <label for="password" class="sr-only">Password:</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required
               th:field="${teacher.password}">
        <div class="text-center">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">login in</button>

    </form>
    <div class="text-center">
        <a class="dropdown-item" th:href="@{/teachers/new}">New around here? Sign up</a>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
</div>
</body>
</html>
