<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts :: header}">
    <title>Home</title>
</head>

<body>
<nav th:replace="~{layouts :: navbar}"></nav>

<div class="container">
    <h2>Welcome to ElmiFy!</h2>
    <p class="mt-5 mb-3 text-muted">&copy; 2024</p>

    <!--<form action="/login" method="post">
         Include form fields for login
        <a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3">Sign In</a>
        <button th:href="@{/templates/main/sign-in}" type="submit">Login</button>
    </form> -->
</div>
</body>
</html>
