<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layouts :: header}">
    <title>Student Sign up page</title>
</head>
<body>

<nav th:replace="~{layouts :: navbar}"></nav>

<div class="container">
    <h1>Sign Up</h1>
    <div data-role="header">
    </div>

    <div data-role="main" class="ui-content">
        <form action="/students/create" method="POST" th:object="${student}">
            <fieldset data-role="control-group">
                <legend>Student Information:</legend>

                <label for="id"></label>
                ID: <input type="text" id="id" th:field="${student.id}"> <br>
                <br>
                <label for="firstName"></label>
                First name: <input type="text" id="firstName" placeholder="first name" th:field="${student.firstName}">
                <br>
                <br>
                <label for="lastName"></label>
                Last name: <input type="text" id="lastName" placeholder="last name" th:field="${student.lastName}"> <br>
                <br>
                <label for="email"></label>
                Email: <input type="text" id="email" placeholder="j***.****n@mail.com" th:field="${student.email}"> <br>
                <br>
                <label for="phoneNumber"></label>
                Phone Number: <input type="text" id="phoneNumber" placeholder="09123456789"
                                     th:field="${student.phoneNumber}"> <br>
                <br>
                <label for="username"></label>
                Username: <input type="text" id="username" placeholder="eg. jack-brown" th:field="${student.username}">
                <br>
                <br>
                <label for="password"></label>
                Password: <input type="password" id="password"
                                 placeholder="combination of capital, and small letters, and symbols"
                                 th:field="${student.password}"> <br>
                <br>
            </fieldset>

            <button type="submit" class="btn btn-success">Create Account</button>
            <input type="reset" data-inline="true" value="Reset">
        </form>
        <p></p>
        <a th:href="@{/students/login}" type="submit" class="btn btn-info">Already have an account?</a>

    </div>
</div>

</body>
</html>